<header class="text-center background-div">
  <div class="row">
    <div class="col ajustCenter">
      <div class="title-home">
        <h3>Universidad Mariano Galvez</h3>
        <h1>Articulos UMG</h1>
        <h3>Bienvenido " {{ username }} "</h3>
      </div>
    </div>
    <div class="col ajustCenter">
      <div class="drop-effect">
        <img
          src="../../../assets/images/student.jfif"
          alt="Imagen con efecto de gota"
          width="100%"
          height="100%"
        />
      </div>
    </div>
  </div>
</header>

<app-articles></app-articles>
